TELEGRAM_TEST_URL=https://api.telegram.org/bot381629683:AAG35c3Q1TMgxJ74TofHUkpHyyiqI9Swm58
TELEGRAM_TEST_BOT_URL=https://api.telegram.org/bot333003680:AAGsxeNerdGwFszlPYJj9xLHTiB4Uc2HsjE
TELEGRAM_DEV_CHAT_ID=31149648
SERVER_TIMEOUT=30000
SERVER_MAX_NOCONNECTION=15
SERVER_UPDATE_FREQUENCY=500
RESOURCES_OUTPUT_PATH=./out/log
RESOURCES_NAMES_PATH=./out/commands
RESOURCES_TIMES_PATH=./out/times
RESOURCES_IMPORTANTS_PATH=./out/importants/