TELEGRAM_BOT_URL=https://api.telegram.org/bot...
TELEGRAM_TEST_BOT_URL=https://api.telegram.org/bot...
TELEGRAM_DEV_CHAT_ID=31149648
SERVER_TIMEOUT=30000
SERVER_MAX_NOCONNECTION=15
SERVER_UPDATE_FREQUENCY=500
RESOURCES_OUTPUT_PATH=./out/log
RESOURCES_NAMES_PATH=./out/commands
RESOURCES_TIMES_PATH=./out/times
RESOURCES_IMPORTANTS_PATH=./out/importants/
DATABASE_PATH=/home/debian/Java/Workspace/prove/telegram-chat.db
